<template name="about">
    <div id="aboutpage" class="content">
    	<div class="center">
	        <h1>About</h1>
                <h2>The Developers</h2>
	        	<table>
	        		<tr> 
	        			<td><img class="aboutpic" src="img/phillip.jpg"/></td>
	        			<td><img class="aboutpic" src="img/scott.jpg"/></td>
	        			<td><img class="aboutpic" src="img/nakoa.jpg"/></td>
        			</tr>
        			<tr>
    					<td class="aboutlabel">Phillip Huang</td>
    					<td class="aboutlabel">Scott Sun</td>
    					<td class="aboutlabel">Nakoa Farrant</td>
					</tr>
				</table>
                <div id="abouttext">
                    <h2> Here At Harvard </h2>
            		<p>Here At Harvard brings students at Harvard College up-to-date information about all the open events occuring around campus. Never miss that pizza study break or Google hiring expo again! </p> 
                    <div id="tips">
                        <h2> Tips </h2>
                		<ul id="tipslist"> 
                            <li>Use Google Chrome for best support.</li>
                            <li>Log in with a @college.harvard.edu email to add and like events.</li>
                            <li>Follow the verification link emailed to you to enable sign in.</li>
                            <li>View and delete events you've posted in the My Events tab.</li>
                            <li>Like events by clicking the heart icon on each event.</li>
                        </ul>
                    </div>
                    <h2> Contact </h2>
                    <p>Questions? Requests? Complaints? Need to report an event? Send us an
                        <a href="mailto:harvardhere@gmail.com?subject=User Feedback">email</a>.
                    </p>
                	<p class="aboutsmall">
                        Background image by Harvard Public Affairs & Communications.
    	            	Created as a CS50 Final Project.
                    </p>
                </div>
        </div>
    </div>
</template>
